<mat-card>
  <mat-card-content *ngIf="trabalhador">
    <h2 class="example-h2">Trabalhador</h2>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. Jean" [(ngModel)]="trabalhador.nome">
    </mat-form-field>
    <mat-form-field class="full-width">
    <mat-label>Nº Vezes Escalado</mat-label>
      <input matInput placeholder="Ex. 0" type="number" [(ngModel)]="trabalhador.numVezesEscalado">
    </mat-form-field>
    <h3 class="example-h2">Atividades</h3>
    <section class="full-width">
      <mat-checkbox 
      *ngFor="let atividade of trabalhador.atividades" 
      [(ngModel)]="atividade.status">
      {{atividade.atividade.descricao}}
    </mat-checkbox>
    </section>
    <h3 class="example-h2">Datas</h3>
    <section class="full-width">
      <mat-checkbox *ngFor="let data of trabalhador.datas" [(ngModel)]="data.status">{{data.data}} - {{data.dia}}</mat-checkbox>
    </section>
  </mat-card-content>
  <button mat-raised-button (click)="gravar()">Gravar</button>
</mat-card>