<mat-card>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Escolha a Data</mat-label>
      <input matInput [matDatepickerFilter]="eDomingo" [(ngModel)]="dataIni" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <button class="app-button" mat-raised-button (click)="gerarEscala()">Gerar Escala</button>
</mat-card>
<mat-card>
  <mat-card-content *ngIf="escala">
    <h2>Semana: {{escala.dataIni}} - {{escala.dataFim}}</h2>
    <section *ngFor="let dia of escala.dias" class="full-widht">
      <h5>{{dia.data}}</h5>
      <section class="full-width">
        <mat-form-field *ngFor="let atividade of dia.atividades">
          <mat-label>{{atividade.atividade.descricao}}</mat-label>
          <input matInput placeholder="Ex. Jean" [(ngModel)]="atividade.quantidade">
        </mat-form-field>
      </section>
    </section>
  </mat-card-content>
  <button mat-raised-button (click)="calcularEscala()">Calcular Escala</button>
</mat-card>

<mat-card class="full-widht" *ngIf="escalaCalculada as escala">
  <mat-card-content>
    <h2>Semana: {{escala.dataIni}} - {{escala.dataFim}}</h2>
    <mat-list *ngFor="let dia of escala.dias">
      <h3>{{dia.data}}</h3>
      <mat-list-item *ngFor="let atividade of dia.atividades">
        <h4 mat-line>{{atividade.atividade.descricao}}</h4>
        <p mat-line>
          <span *ngFor="let trabalhador of atividade.trabalhadores">{{trabalhador.nome}} </span>
        </p>
      </mat-list-item>
    </mat-list>      
  </mat-card-content>
</mat-card>

