<mat-card>
  <mat-card-content>
    <button class="app-button" mat-raised-button (click)="gerarEscala()">Gerar Escala</button>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Escala</h2>
    <table mat-table [dataSource]="escala" class="mat-elevation-z8">
      <ng-container matColumnDef="dia">
        <th mat-header-cell *matHeaderCellDef> Dia </th>
        <td mat-cell *matCellDef="let element"> {{element.dia}} </td>
      </ng-container>
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>
      <ng-container matColumnDef="atividade">
        <th mat-header-cell *matHeaderCellDef> Atividade </th>
        <td mat-cell *matCellDef="let element"> {{element.atividade}} </td>
      </ng-container>
      <ng-container matColumnDef="trabalhador">
        <th mat-header-cell *matHeaderCellDef> Trabalhador </th>
        <td mat-cell *matCellDef="let element"> {{element.trabalhador}} </td>
      </ng-container>   
      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
  </mat-card-content>
</mat-card>
